@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
	--offset-color: #e6e6e6; /*light grey*/
	--offset-color2: #bfbfbf;/*dark grey*/
	--primary-color: #76997f; /*green*/
	--secondary-color: #ffffff; /*white*/
	--tertiary-color: #000000; /*black*/
}
body{font-family: 'Roboto Slab', serif;}

.container{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 375px;
}